* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia', sans-serif;
}

.body {
    max-width: 800px;
    height: 350px;
    margin: 100px auto;
    background-color: #222;
    overflow: hidden;
}

.flexs {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.line {
    width: 125px;
    height: 8px;
    background-color: chartreuse;
}

.flexs .line:nth-child(2) {
    background-color: darkblue;
}

.flexs .line:nth-child(3) {
    background-color: crimson;
}

.flexs .line:nth-child(4) {
    background-color: yellow;
}

.flexs .line:nth-child(5) {
    background-color: plum;
}

.flexs .line:nth-child(6) {
    background-color: dodgerblue;
}

.hero-caption {
    max-width: 260px;
    margin: 80px auto auto;
}

.hero-caption h2 {
    text-align: center;
    margin-bottom: -8px;
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
}

hr {
    border: 2px solid yellow;
    border-radius: 5px;
    display: block;
}

.hero-caption h6 {
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    margin-top: 4px;
}

.flex2 {
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    padding: 10px 10px;
    margin-top: 40px;
}

.flex2 .line1 {
    background-color: aqua;
    padding: 7px 30px;
    text-align: center;
}

.flex2 .line2:nth-child(2) {
    background-color: #e75480;
    color: #fff;
    padding: 7px 30px;
    text-align: center;
}

.flex2 .line3:nth-child(3) {
    background-color: greenyellow;
    padding: 7px 30px;
    text-align: center;
}

.flex2 .line4:nth-child(4) {
    background-color: purple;
    padding: 7px 30px;
    text-align: center;
    color: #fff;
}

.flex2 .line5:nth-child(5) {
    background-color: rgb(231, 227, 0);
    padding: 7px 30px;
    text-align: center;
    color: #fff;
}


/* .main{
    width: 600px;
    height: 250px;
    background-color: rgb(0,0,0);
}
.master{
    width: 800px;
    height: 25px;
    display: flex;
    gap: 20px;
    

}
.middle{
    width: 210px;
    height: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
margin-top: 0%,auto;
}
  
.sub1{
    width: 80px;
    height: 5px;
    background-color: rgb(29, 240, 10);
}
.sub2{
    width: 80px;
    height:5px;
    background-color: rgb(68, 3, 3);
}
.sub3{
    width: 80px;
    height: 5px;
    background-color: rgb(3, 37, 70);
}
.sub4{
    width: 80px;
    height: 5px;
    background-color: rgb(212, 233, 22);
}
.sub5{
    width: 80px;
    height: 5px;
    background-color: rgb(7, 2, 32);
}
.sub6{
    width: 80px;
    height: 5px;
    background-color: rgb(29, 240, 10);
}
.sub7{
    color: white;
    background-color: rgb(18, 172, 199);
    width: 90px;
    height: 20px;
}
.sub8{
    width: 90px;
    height: 20px;
    color: white;
    background-color: rgb(216, 17, 93);
}
.sub9{
    width: 90px;
    height: 20px;
    color: white;
    background-color: rgb(13, 228, 23);
}
.sub10{
    width: 90px;
    height: 20px;
    color: white;
    background-color: rgb(185, 14, 143);
}
.sub11{
    width: 90px;
    height: 20px;
    color: white;
    background-color: rgb(221, 218, 20);
}
.master2,h6{
    width:500px;
    height:65px;
    display: flex;
    gap: 15px;
} */